@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Light Theme Colors */
    --color-primary: #006879;
    --color-on-primary: #ffffff;
    --color-primary-container: #a9edff;
    --color-on-primary-container: #004e5c;
    --color-secondary: #4b6268;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #cee7ee;
    --color-on-secondary-container: #334a50;
    --color-tertiary: #565d7e;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #dde1ff;
    --color-on-tertiary-container: #3e4565;
    --color-error: #ba1a1a;
    --color-on-error: #ffffff;
    --color-error-container: #ffdad6;
    --color-on-error-container: #93000a;
    --color-background: #f5fafc;
    --color-on-background: #171c1e;
    --color-surface: #f5fafc;
    --color-on-surface: #171c1e;
    --color-surface-variant: #dbe4e7;
    --color-on-surface-variant: #3f484b;
    --color-outline: #70797b;
    --color-outline-variant: #bfc8cb;
    --color-shadow: #000000;
    --color-scrim: #000000;
    --color-inverse-surface: #2b3133;
    --color-inverse-on-surface: #ecf2f4;
    --color-inverse-primary: #84d2e6;
    --color-primary-fixed: #a9edff;
    --color-on-primary-fixed: #001f26;
    --color-primary-fixed-dim: #84d2e6;
    --color-on-primary-fixed-variant: #004e5c;
    --color-secondary-fixed: #cee7ee;
    --color-on-secondary-fixed: #061f24;
    --color-secondary-fixed-dim: #b2cbd2;
    --color-on-secondary-fixed-variant: #334a50;
    --color-tertiary-fixed: #dde1ff;
    --color-on-tertiary-fixed: #121a37;
    --color-tertiary-fixed-dim: #bec5eb;
    --color-on-tertiary-fixed-variant: #3e4565;
    --color-surface-dim: #d5dbdd;
    --color-surface-bright: #f5fafc;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #eff4f6;
    --color-surface-container: #e9eff1;
    --color-surface-container-high: #e4e9eb;
    --color-surface-container-highest: #dee3e5;

    /* Dark Theme Colors */
    --color-primary-dark: #84d2e6;
    --color-on-primary-dark: #003640;
    --color-primary-container-dark: #004e5c;
    --color-on-primary-container-dark: #a9edff;
    --color-secondary-dark: #b2cbd2;
    --color-on-secondary-dark: #1d343a;
    --color-secondary-container-dark: #334a50;
    --color-on-secondary-container-dark: #cee7ee;
    --color-tertiary-dark: #bec5eb;
    --color-on-tertiary-dark: #282f4d;
    --color-tertiary-container-dark: #3e4565;
    --color-on-tertiary-container-dark: #dde1ff;
    --color-error-dark: #ffb4ab;
    --color-on-error-dark: #690005;
    --color-error-container-dark: #93000a;
    --color-on-error-container-dark: #ffdad6;
    --color-background-dark: #0f1416;
    --color-on-background-dark: #dee3e5;
    --color-surface-dark: #0f1416;
    --color-on-surface-dark: #dee3e5;
    --color-surface-variant-dark: #3f484b;
    --color-on-surface-variant-dark: #bfc8cb;
    --color-outline-dark: #899295;
    --color-outline-variant-dark: #3f484b;
    --color-shadow-dark: #000000;
    --color-scrim-dark: #000000;
    --color-inverse-surface-dark: #dee3e5;
    --color-inverse-on-surface-dark: #2b3133;
    --color-inverse-primary-dark: #006879;
    --color-primary-fixed-dark: #a9edff;
    --color-on-primary-fixed-dark: #001f26;
    --color-primary-fixed-dim-dark: #84d2e6;
    --color-on-primary-fixed-variant-dark: #004e5c;
    --color-secondary-fixed-dark: #cee7ee;
    --color-on-secondary-fixed-dark: #061f24;
    --color-secondary-fixed-dim-dark: #b2cbd2;
    --color-on-secondary-fixed-variant-dark: #334a50;
    --color-tertiary-fixed-dark: #dde1ff;
    --color-on-tertiary-fixed-dark: #121a37;
    --color-tertiary-fixed-dim-dark: #bec5eb;
    --color-on-tertiary-fixed-variant-dark: #3e4565;
    --color-surface-dim-dark: #0f1416;
    --color-surface-bright-dark: #343a3c;
    --color-surface-container-lowest-dark: #090f11;
    --color-surface-container-low-dark: #171c1e;
    --color-surface-container-dark: #1b2122;
    --color-surface-container-high-dark: #252b2d;
    --color-surface-container-highest-dark: #303637;
}
